<div id="1">
    <h1>Rails Girls Ha Noi</h1>
</div>

<div id="2">
    Nguyen Sim <br/>
    Thai Binh
</div>

<div id="3">
    <h1>Thái Bình quê tôi</h1>
    <p>
        Ai về Thái Bình, Thái Bình quê hương tôi<br/>
        Đồng bằng lớn nhất, lớn nhất xứ Trung Châu<br/>
        Bốn sông thì thầm, thì thầm reo biển cả<br/>
        Phù sa màu mỡ tô thắm đất quê hương<br/>
        Em đứng sông Hồng, còn anh chờ sông Luộc<br/>
        Em sông Trà Lý, anh sông Diêm Hộ, ra khơi.<br/>
        Bốn dòng sông tắm biển mặn môi<br/>
        Thái Bình thắm thiết vang lời hát ca.<br/>
        Ta sẽ đi thăm Tiền Hải, Thái Thủy ven bờ<br/>
        Quỳnh Phụ bên đó nhớ đợi chờ Vũ Thư.<br/>
        Kiến Xương ơi, Kiến Xương thơ mộng lắm<br/>
        Đông Hưng bén gót bước qua Hưng Hà<br/>
        Nhớ về Thái Bình,<br/>
        Viếng chùa Keo thăm Khổng Minh Không<br/>
        Viếng Tiên la thăm Bát Nạo, Phù Tướng<br/>
        Và còn nữa biết bao đền thờ quyện khói<br/>
        Để nhó Thái Bình vùng đất quê tôi <br/>
</p>
<p>
        Ai về Thái Bình, Thái Bình quê hương tôi<br/>
        Đồng bằng lớn nhất, lớn nhất xứ Trung Châu<br/>
        Bốn sông thì thầm, thì thầm reo biển cả<br/>
        Phù sa màu mỡ tô thắm đất quê hương<br/>
        Em đứng sông Hồng, còn anh chờ sông Luộc<br/>
        Em sông Trà Lý, anh sông Diêm Hộ, ra khơi.<br/>
        Bốn dòng sông tắm biển mặn môi<br/>
        Thái Bình thắm thiết vang lời hát ca.<br/>
        Ta sẽ đi thăm Tiền Hải, Thái Thủy ven bờ<br/>
        Quỳnh Phụ bên đó nhớ đợi chờ Vũ Thư.<br/>
        Kiến Xương ơi, Kiến Xương thơ mộng lắm<br/>
        Đông Hưng bén gót bước qua Hưng Hà<br/>
        Nhớ về Thái Bình,<br/>
        Viếng chùa Keo thăm Khổng Minh Không<br/>
        Viếng Tiên la thăm Bát Nạo, Phù Tướng<br/>
        Và còn nữa biết bao đền thờ quyện khói<br/>
        Để nhó Thái Bình vùng đất quê tôi <br/>
</p>
</div>